<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!--
        #1，vue實例屬性，這些屬性的值發生改變時，視圖將會產生“響應”，即匹配更新為新的值
            注意，只有定義在 data 屬性中的自定義屬性才會自動響應，才會自動觸發視圖更新

        #2，在 console 中，可透過 vueObj.message，直接存取定義在 vue 實例 data 屬性下的自定義屬性
        #3，在 js 中，可透過 vueObj.$內建屬性名 的方式存取，例如，vueObj.$data
            由 #2 和 #3 可知，app.$data.message == app.message
        #4，圖解 vue 實例的生命週期，https://cn.vuejs.org/images/lifecycle.png
    -->

    <!-- 方法一 -->
    <div id="app">
        {{ message }} {{ name }}
    </div>

    <!-- 方法二 -->
    <div id="app2">
        {{ message }} {{ name }}
    </div>

    <script>

        // 方法一
        function data_example1() {
            return new Vue({
                // 類似作用域的概念，只會對 id="app" 的元素有效
                el: '#app',

                // 利用 data 屬性建立實例屬性
                data: {
                    message: "Hello",
                    name: "anthony"
                },
            })
        }

        // 方法二
        function data_example2() {
            return new Vue({
                el: '#app2',

                // 利用 data() 建立屬性
                data() {
                    return {
                        message: "Hello",
                        name: "ching"
                    }
                }
            })
        }

        var app = data_example1()
        var app2 = data_example2()
    </script>

</body>

</html>