<!-- 
method vs watch vs compute

	#1，watch事件，某個屬性，屬性值被修改後被觸發的事件
		- 是函數的一種，一種回調函數
		在 watch 中定義的是被監聽的屬性，而不是回調函數名，定義的回調函數會在屬性變更時被調用
		- 和一般函數的差異，若被監聽的值相同，就不會被觸發，而一般函數一定會被執行
		- 一個監聽值對應一個函數，寫法較囉嗦
		- 值被改變後，被觸發的 watch 事件

	#2，compute屬性
	值被改變後，自動被執行，並結果儲存在 compute 屬性中，適合用於緩衝
	可用於簡化 watch 的寫法

	#3，參考
	https://cn.vuejs.org/v2/guide/computed.html

 -->

<html>

<head>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
	<!-- 範例一，使用一般的 method -->
	<div id="app">
		origin: {{ msg }}<br>
		reversed: {{ reverseMsg() }}
	</div>

	<br>

	<!-- 範例二，使用 computed 屬性 -->
	<!-- 注意，computed 屬性不用加 () 的方式調用 -->
	<div id="app2">
		origin: {{ msg }}<br>
		reversed: {{ reverseMsg }}
	</div>

	<br>

	<!-- 範例三，使用 watch 回掉函數 -->
	<div id="app3">
		<input v-model="msg"> <br>
		reversed : {{ reverseMsg }}

	</div>


	<p></p>

	<script>
		// 範例一，一般函數的用法
		function general_method() {
			return new Vue({
				el: '#app',
				data: {
					msg: "Hello"
				},
				methods: {
					reverseMsg: function () {
						return this.msg.split('').reverse().join('')
					}
				}

			})
		}

		// 範例二，computed()，類似一般函數，但屬性值有改變才被調用，可用於緩衝用
		function computed() {
			return new Vue({
				el: '#app2',
				data: {
					msg: "World"
				},
				computed: {
					reverseMsg: function () {
						return this.msg.split('').reverse().join('')
					}
				}
			})
		}

		// 範例三，watch()，監聽屬性的回調函數
		function watch() {
			return new Vue({
				el: '#app3',
				data: {
					msg: "an",
					reverseMsg: ""
				},
				watch: {
					msg: function (val) {
						this.reverseMsg = val.split('').reverse().join('')
					}
				}
			})
		}

		var app = general_method();
		var app2 = computed();
		var app3 = watch();

	</script>

</body>

</html>