<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!--
        #1，在網頁元素的屬性中使用，用來將網頁元素與 Vue實例的屬性做動態綁定
            動態綁定代表，當綁定的Vue實例的屬性變動時，對應的元素 attribute 也會被更新
            Vue 會先取得 vue 實例中的屬性值後，再帶入指定的元素屬性

        #2，語法
            v-bind:<該元素的某一個屬性> = <vue實例中宣告的屬性名>
            可簡寫為
            :<該元素的某一個屬性> = <vue實例中宣告的屬性名>

        #3，動態綁定元素的屬性
            語法
            靜態綁定的方式， v-bind:<該元素的某一個屬性> = <vue實例中宣告的屬性名>
            動態綁定的方式， v-bind:[js屬性表達式] = <vue實例中宣告的屬性名>

            綁定的元素屬性，亦由 js 決定，以 [js屬性表達式] 的方式區隔靜動態綁定的差異
            例如，若 data:{attributeName:"title", msg:"hello"}
            則 vue 會去找 實例對象中的 attributeName 屬性的值，帶入 [] 中
            因此，v-bind:[attributeName] = "message"，
            等效。v-bind:"title" = "message"，
            代表，將 vue 實例的 message 屬性，綁定到 元素的 title-attribute 上

        #4，參考
            https://cythilya.github.io/2017/04/21/vue-v-bind-class-and-style/
            https://cn.vuejs.org/v2/guide/syntax.html#%E6%8C%87%E4%BB%A4
    -->

    <!-- 將 app-element 的 title 屬性，綁定到 app.message -->
    <!-- 將這個元素節點的 title-attribute 和 Vue實例的 message屬性綁定 -->

    <!-- 範例一，v-bind 基本範例 -->
    <div id="app" :title="message">
        滑鼠懸停幾秒鐘，查看此處顯示的提示訊息<br>
        {{time}}
    </div>

    <!-- 範例二，動態綁定元素屬性範例 -->
    <div id="app2" :[attribute_name]="message">
        滑鼠懸停幾秒鐘，查看此處顯示的提示訊息<br>
        {{time}}
    </div>

    <script>

        function vbind_example1() {
            return new Vue({
                el: '#app',
                data: {
                    message: "靜態綁定元素屬性",
                    time: new Date().toLocaleString(),
                },
            })
        }

        function vbind_example2() {
            return new Vue({
                el: '#app2',
                data: {
                    attribute_name: "title",
                    message: "動態綁定元素屬性",
                    time: new Date().toLocaleString(),
                },
            })
        }

        // 範例一，v-bind 基本範例
        var app = vbind_example1();

        // 範例二，動態綁定元素屬性範例
        var app2 = vbind_example2();

    </script>

</body>

</html>