<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <ol>
            <!-- v-for 綁定的對象必須是一個可迭代對象 -->
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <script>

        var app = vfor_example1();

        function vfor_example1() {
            return new Vue({
                el: '#app',
                data: {
                    todos: [
                        { text: '學習 JavaScript' },
                        { text: '學習 Vue' },
                        { text: '學習 Rust' }
                    ]
                },
            })
        }

    </script>

</body>

</html>