<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!--
        vue 會對 v-html 綁定的實例屬性，不進行語法轉譯
    -->

    <div id="app">
        <div v-html="rawHTML"></div>
        {{HTML}}
    </div>

    <script>

        var app = vhtml_example1();

        function vhtml_example1() {
            return new Vue({
                el: '#app',
                data: {
                    rawHTML: '<button id="btn"> 我是按鈕 </button>',
                    HTML: '<button id="btn"> 我是按鈕 </button>'
                },
            })
        }

    </script>

</body>

</html>