<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!--
        #1，當 v-if 綁定的 true/false 值變更時，vue 會重新選染視圖
            若 true，顯示該元素
            若 false，刪除該元素
        #2，在 console 中，可透過 app.isEnable 來控制
    -->

    <div id="app">
        <p v-if="isEnable">你現在看到我了</p>
    </div>

    <script>

        var app = vif_example1();

        function vif_example1() {
            return new Vue({
                el: '#app',
                data: {
                    isEnable: true
                },
            })
        }

    </script>

</body>

</html>