<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!--
        #1，v-model，雙向綁定
            step1，html -> vue
            將 網頁中input 的資料，傳遞給 v-model 指定的 vue實例屬性
            step2，vue -> html
            指定的 vue實例屬性被更新後，會自動更新視圖上的資料
    -->

    <div id="app">
        <p>{{ message }}</p>

        <!--
            透過 v-model 將 input 的值傳遞給實例的 message 屬性後
            vue 會自動更新前端的視圖
        -->
        <input v-model="message">
    </div>

    <script>

        var app = vmodel_example1();

        function vmodel_example1() {
            return new Vue({
                el: '#app',
                data: {
                    message: "Hello Vue.js"
                },
            })
        }

    </script>

</body>

</html>