<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!--
        #1，語法
            v-on:<觸發事件名> = <vue實例中宣告的方法名>
            可簡寫為
            @<觸發事件名> = <vue實例中宣告的方法名>
    -->

    <div id="app">
        <p>{{ message }}</p>

        <!-- 當 button 的 click 事件被觸發時，調用 reverseMessage() -->
        <!-- 寫法一，添加 () 調用 -->
        <button v-on:click="reverseMessage()">逆轉消息</button>

        <!-- 寫法二，不添加 () 調用 -->
        <!-- <button v-on:click="reverseMessage">逆轉消息</button> -->
    </div>

    <script>

        var app = von_example1();

        function von_example1() {
            return new Vue({
                el: '#app',
                data: {
                    message: "Hello Vue.js"
                },
                methods: {
                    reverseMessage: function () {
                        this.message = this.message.split("").reverse().join("")
                    }
                }
            })
        }

    </script>

</body>

</html>