<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <!--
        一個組件會對應一個網頁元素，在網頁中，透過 <組件名></組件名> 的方式調用
    -->

    <div id="app">
        <ol>
            <!-- 將父組件的屬性傳遞給子組件
                #1，v-for="item in groceryList"
                    把父組件的 groceryList 傳遞給 item

                #2，v-bind:todo="item"
                    將子組件的 todo-attribute綁定到 item

                #3，v-bind:key="item.id"
                將子組件的 key-attribute綁定到 item.id

                #4，groceryList 是一個 array，item 是一個具有 id 和 text 的 object
            -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <script>

        // 建立(註冊)子組件，Vue.component(組件名, {props:輸入參數 Array, template:子組件的模板})
        Vue.component('todo-item', {
            // 定義子組件的輸入參數
            props: ['todo'],
            // 定義子組件的輸出視圖結果
            template: '<li>{{ todo.text }}</li>'
        })

        // 定義父組件的實例
        function basic_component() {
            return new Vue({
                el: '#app',
                data: {
                    groceryList: [
                        { id: 0, text: 'apple' },
                        { id: 1, text: 'banana' },
                        { id: 2, text: 'watermelon' }
                    ]
                },
            })
        }

        var app = basic_component();

    </script>

</body>

</html>